header {
    background-color: black;
}

.header_information {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.menu {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.1em;
}

.menu a:hover {
    text-decoration: underline;
}

.brand {
    flex-grow: 1;
    text-align: center;
}
.brand h1  {
    margin: 0;
    font-size: 50px;
    letter-spacing: 8px;
}

footer {
    background-color: black;
}

.footer_information {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

h1 {
    text-align: center; 
    color: aliceblue; 
    font-style: italic;
}

a {
    color: aliceblue;
}

.watch div {
    display: flex;
    justify-content: center;
    gap: 1cm;
}

.watch img {
    border: 2px solid #ddd;
    border-radius: 8px;
}

